<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>채팅 및 프로필 사진 설정을 위해 권한을 허용해주세요.</string>
	<key>NSCameraUsageDescription</key>
	<string>채팅 및 프로필 사진 촬영을 위해 권한을 허용해주세요.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>사용자의 현재 위치를 가져옵니다.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>사용자의 현재 위치를 가져옵니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>사용자의 현재 위치를 가져옵니다.</string>
</dict>
</plist>
